body {
    text-align: center;
    background-color: rgb(177, 174, 174);
    margin-top: 65px;
    margin-bottom: 110px;
    border-top: 90px solid rgb(231, 229, 229);
    border-bottom: 90px solid rgb(231, 229, 229);
    border-left: 400px solid rgb(231, 229, 229);
    border-right: 400px solid rgb(231, 229, 229);
}
div {
    border: 5px solid ;
    background-color: white;
}
h1 {
    color: green;
}
.em {
    height: 30px;
    width: 300px;
}
.pw {
    height: 30px;
    width: 300px;
}
.dk {
    color: green;
}
.dk:hover {
    color: rgb(15, 196, 15);
}
span {
    color: red;
}
.dn {
    color: white;
    background-color: green;
    width: 310px;
    height: 30px;
}
.dn:hover {
    background-color: rgb(15, 196, 15);
}