body {
    text-align: center;
    background-color: darkgray;
    margin-left: 180px;
    margin-right: 180px;
    
}
div {
    width: 1000px;
    background-color: white;
}
.tk {
    width: 300px;
    height:25px
}
.ttu {
    color: white;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 20px;
}
.dn {
    color: rgb(236, 232, 232);
    float: right;
}
.dn:hover {
    color: hsl(0, 0%, 100%);
}
h1 {
    color: green;
    text-align: left;
}
span {
    color: red;
}
.tl {
    padding-left: 5px;
}
.tl li {
    color: green;
    float: left;
    border: 1px solid black;
    width: 163px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.tl li:hover {
    background-color: rgb(15, 184, 15);
}
legend {
    color: red;
}
img {
    height: 135px;
    width: 100px;
}
p {
    color: green;
}
.the:before,
.the:after {
    content: "";
    display: table;
}
.the:after {
    clear: both;
}
.the {
    zoom: 1;
}