body {
    text-align: center;
    background-color: rgb(177, 174, 174);
    margin-top: 75px;
    margin-bottom: 110px;
    border-top: 90px solid rgb(231, 229, 229);
    border-bottom: 90px solid rgb(231, 229, 229);
    border-left: 200px solid rgb(231, 229, 229);
    border-right: 200px solid rgb(231, 229, 229);
}
div {
    border: 5px solid ;
    background-color: white;
}
h1 {
    color: green;
}
span {
    color: red;
}
.tl {
    color: green;
}
.dk {
    color: white;
    background-color: green;
    width: 190px;
    height: 35px;
}